# Created by http://www.gitignore.io

### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.mk

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CodeLite ###
.clang
.codelite
.build-debug
Debug/
Release/

### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build
